<div class="container">
        <div class="col-md-12" *ngIf="page_title">
            <h2>{{page_title}}</h2>
                
            <div class="alert alert-success" *ngIf="status_articulo=='SUCCESS'">
                El articulo se guardo correctamente
            </div>
                
            <div class="alert alert-danger" *ngIf="status_articulo=='ERROR'">
                El articulo no se guardo, intentalo de nuevo
            </div>
                
            <form #articuloNew="ngForm" (ngSubmit)="onSubmit(articuloNew)" class="col-md-5">
                
                <p>
                    <label>Nombre</label>
                    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="articulo.nombre" class="form-control" required/>
                    <span *ngIf="!nombre.valid && nombre.touched">
                        El nombre no es valido
                    </span>
                </p>
                
                <p>
                    <label>Marca</label>
                    <input type="text" name="marca" #marca="ngModel" [(ngModel)]="articulo.marca" class="form-control" required/>
                    <span *ngIf="!marca.valid && marca.touched">
                        La marca no es valido
                    </span>
                </p>
                
                <p>
                    <label>Cantidad</label>
                    <input type="number" name="cantidad" #cantidad="ngModel" [(ngModel)]="articulo.cantidad" class="form-control" required/>
                    <span *ngIf="!cantidad.valid && cantidad.touched">
                        La cantidad no es valido
                    </span>
                </p>

                <p>
                    <label>Categoria</label>
                    <select name="categoria" #categoria="ngModel" [(ngModel)]="articulo.categoria" class="form-control" required>
                        <option value="1">Arte y Artesanias</option>
                        <option value="2">Automotriz</option>
                        <option value="3">Deportes</option>
                        <option value="4">Electrónicos</option>
                        <option value="5">Hombres</option>
                        <option value="6">Mujeres</option>
                        <option value="7">Niños</option>
                        <option value="8">Bebés</option>
                        <option value="9">Herramientas</option>
                        <option value="10">Libros</option>
                        <option value="11">Hogar y Cocina</option>
                        <option value="12">Juguetes</option>
                        <option value="13">Salud y Bienestar</option>
                    </select>
                    <span *ngIf="!categoria.valid && categoria.touched">
                        La categoria no es valido
                    </span>
                </p>
                
                <p>
                    <label>Precio</label>
                    <input type="number" name="precio" #precio="ngModel" [(ngModel)]="articulo.precio" class="form-control" required/>
                    <span *ngIf="!precio.valid && precio.touched">
                        El precio no es valido
                    </span>
                </p>
                
                <p>
                    <label>Descripcion</label>
                    <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="articulo.descripcion" class="form-control" required></textarea>
                    <span *ngIf="!descripcion.valid && descripcion.touched">
                        La descripcion no es valida
                    </span>
                </p>
                
                <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!articuloNew.form.valid">
                
            </form>
        </div>
    </div>
    
    