<header id="header">
        <!--
        <nav class="navbar navbar-dark bg-primary">
            <a href="#" class="navbar-brand">Domotica</a>
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['']" class="navbar-brand">Inicio</a>
                </li>
            </ul>

            <div class="navbar-nav rounded-right">
                <ul class="nav navbar-nav" *ngIf="!identity">
                    <li>
                        <a [routerLink]="['register']" class="navbar-brand">Registrate</a>
                    </li>
                    <li>
                        <a [routerLink]="['login']" class="navbar-brand">Login</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav" *ngIf="identity">
                    <li>
                        <a class="navbar-brand">{{identity.first_name+' '+identity.last_name}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['logout',1]" class="navbar-brand">Salir</a>
                    </li>
                </ul>

            </div>
        </nav>
        -->

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon-globe"></span>
                Domotica
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['']" ><span class="glyphicon glyphicon-home"></span> Inicio</a>
                </li>
                <li *ngIf="identity">
                    <a [routerLink]="['crear-articulo']" ><span class="glyphicon glyphicon-book"></span> Añadir Articulo</a>
                </li>
                <li *ngIf="rol">
                    <a [routerLink]="['lista-articulo']" ><span class="glyphicon glyphicon-book"></span> Articulos </a>
                </li>
                <li>
                    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="col-md-12">
                        <div style="margin-top: 10px;">
                            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="articulo.nombre" placeholder="Buscar..." style="width: 200px; border-radius: 5px;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Buscar</button>
                        </div>
                    </form>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li>
                    <a [routerLink]="['register']" ><span class="glyphicon glyphicon-user glyphicon"></span> Registro</a>
                </li>
                <li>
                    <a [routerLink]="['login']" ><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="identity">
                <li>
                    <a [routerLink]="['perfil']" >{{first_name}}+{{last_name}}}</a>
                </li>
                <li>
                    <a [routerLink]="['logout',1]">
                        Salir
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>

<!--<div class="container">
    <app-login></app-login>
    <app-register></app-register>
        <router-outlet></router-outlet>
    </div>-->
<router-outlet></router-outlet>


