<div class="container">
  <h1>Perfil: {{user.first_name}} {{user.last_name}}</h1><br>
  <div class="col-md-7">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">Telefono</th>
                  <th scope="col">{{perfil.telefono}}</th>
              </tr>
              <tr>
                  <th scope="col">Direccion</th>
                  <th scope="col">{{perfil.direccion}}</th>
              </tr>
          </thead>
      </table>
      <a [routerLink]="['/editar-perfil']" class="btn btn-warning">Editar</a>
  </div>
</div>