<div class="container">
        <h1>Detalle:</h1><br>
        
        <div style="float: left; width: 600px;" >
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="../../../assets/img/producto.png" alt="Boats at Phi Phi, Thailand">
                </div>
            </div>
        </div>


        <div style="float: right; width: 100px;" >

            <h3>Puntuación:</h3><br>
            <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <label for="radio1">★</label>
                <input id="radio2" type="radio" name="estrellas" value="4">
                <label for="radio2">★</label>
                <input id="radio3" type="radio" name="estrellas" value="3">
                <label for="radio3">★</label>
                <input id="radio4" type="radio" name="estrellas" value="2">
                <label for="radio4">★</label>
                <input id="radio5" type="radio" name="estrellas" value="1">
                <label for="radio5">★</label>
            </p>
        </div>
        
        <div class="col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">{{articulo.nombre}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Marca</th>
                        <th scope="col">{{articulo.marca}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">{{articulo.cantidad}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Precio</th>
                        <th scope="col">{{articulo.precio}} $</th>
                    </tr>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">{{articulo.descripcion}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">{{articulo.estado}}</th>
                    </tr>
                </thead>
            </table>
            <a [routerLink]="['/oferta', articulo.id_producto]" class="btn btn-info" >Hazlo Oferta</a>
        </div>

        <br>
        <h3>Comentarios:</h3>

        <a [routerLink]="['/comentario', articulo.id_producto]" class="btn btn-success" >Nuevo</a>

        <div style="float: left; width: 650px;" >
            <textarea class="form-control">El producto es muy bueno, aunque los tiempos de entrega no son precisos con las fechas establecidas
            </textarea>
        </div>

        <div style="float: right; width: 50px;" >
            <label for="radio1">5★</label>
        </div>
        
        <div style="float: left; width: 650px;" >
            <textarea class="form-control">No me gusto el color del prducto
            </textarea>
        </div>
    
        <div style="float: right; width: 50px;" >
            <label for="radio1">2★</label>
        </div>

    </div>
    