<div class="container">
    <div class="col-md-12" *ngIf="page_title">
        <h2>{{page_title}}</h2>

        <div class="alert alert-danger" *ngIf="status_rango=='ERROR'">
            El rango no se guardo, intentalo de nuevo
        </div>


        <form #searchRangoForm="ngForm" (ngSubmit)="onSubmit(searchRangoForm)" class="col-md-12">
            <div class="form-goup">
                <div class="input-group">
                    <div class="row">
                        <div class="col-md-4">
                            Precio Maximo<input type="number" class="form-control" name="maximo" #maximo="ngModel" [(ngModel)]="articulo.precio" placeholder="Maximo...">
                        </div>
                        <div class="col-md-4">
                            Precio Minimo<input type="number" class="form-control" name="minimo" #minimo="ngModel" [(ngModel)]="articulo.cantidad" placeholder="Minimo...">
                        </div>
                    </div>
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary" data-balloon-length="medium" data-balloon="Búsqueda por precios" data-balloon-pos="right">Buscar</button></span>
                </div>
            </div>
        </form>

    </div>
</div>