<div class="container">
        <div class="col-md-12" >
            <h2>{{page_title}}</h2>

            <div id="goodComment" class="alert alert-success" *ngIf="status_comentario=='SUCCESS'">
                El comentario se guardo correctamente
            </div>
                    
            <div id="badComment" class="alert alert-danger" *ngIf="status_comentario=='ERROR'">
                El comentario no se guardo, intentalo de nuevo
            </div>
                
            <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nombre:</th>
                        <th scope="col">{{articulo.nombre}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Marca:</th>
                        <th scope="col">{{articulo.marca}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Precio:</th>
                        <th scope="col">{{articulo.precio}} $</th>
                    </tr>
                    <tr>
                        <th scope="col">Cantidad:</th>
                        <th scope="col">{{articulo.cantidad}} unidades</th>
                    </tr>
                </thead>
            </table>

            <form #comentarioNew="ngForm" (ngSubmit)="onSubmit(comentarioNew)" class="col-md-5">
                
                <p>
                    <label>Comentario:</label>
                    <textarea name="comentario" #comentario="ngModel" [(ngModel)]="comentarioproducto.comentario" class="form-control" required></textarea>
                    <span *ngIf="!comentario.valid && comentario.touched">
                        La comentario no es valida
                    </span>
                </p>

                <p>
                    <label>Puntaje:</label>
                    <select name="calificacion" #calificacion="ngModel" [(ngModel)]="comentarioproducto.calificacion" class="form-control" required>

                        <option value="1">★</option>
                        
                        <option value="2">★★</option>
                            
                        <option value="3">★★★</option>

                        <option value="4">★★★★</option>

                        <option value="5">★★★★★</option>
                            
                    </select>
                    <span *ngIf="!calificacion.valid && calificacion.touched">
                        El calificacion no es valido
                    </span>
                </p>

                <p>
                    <label>Tipo:</label>
                    <select name="tipo" #tipo="ngModel" [(ngModel)]="comentarioproducto.tipo" class="form-control" required>

                            <option value="producto">Producto</option>
                                
                    </select>
                    <span *ngIf="!tipo.valid && tipo.touched">
                        El calificacion no es valido
                    </span>
                </p>
                    
                <input id="sendComment" type="submit" value="Guardar" class="btn btn-success" [disabled]="!comentarioNew.form.valid">
                    
            </form>

        </div>
    </div>
    
    