<div class="container">

    <div class="title-login">
        <h1>Inicio de Sesión</h1>
    </div>

    <form>
        <div class="login">
            <div class="form-group">
                <label>Correo:</label>
                <input type="text" name="name" class="form-control" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" name="password" class="form-control" placeholder="*********">
            </div>

            <button class="btn btn-success">Iniciar Sesión</button>
        </div>
    </form>

    <a href="">Registrarse</a>

</div>