<div class="container">

    <div class="title-register">
        <h1>Registro</h1>
    </div>

    <div class="alert alert-success" *ngIf="status == 'success' ">
        El registro se ha completado satisfactoriamente, <a [routerLink]="['/login']">Identificate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error' ">
        Ohhh Nooo!! Error en el registro
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">
        <p>
            <label>Nombre:</label>
            <
            <input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" class="form-control" placeholder="Nombre" required/>
            <span *ngIf="!first_name.valid && first_name.touched">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Apellido:</label>
            <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="user.last_name" class="form-control" placeholder="Apellido" required/>
            <span *ngIf="!last_name.valid && last_name.touched">
                El apellido es obligatorio
            </span>
        </p>
        <p>
            <label>Email:</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="example@email.com" required/>
            <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
            </span>
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="*********" required/>
            <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
            </span>
        </p>


        <input type="submit" value="Registrarme" class="btn btn-primary" [disabled]="!registerForm.form.valid"/>

    </form>

</div>
