<div class="container">  
<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="col-md-12">
        <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="articulo.nombre" placeholder="Buscar...">
                    <span class="input-group-btn"><button id="sendBusqueda" type="submit" class="btn btn-primary" data-balloon-length="medium" data-balloon="Búsqueda por Nickname, CI o Carrera" data-balloon-pos="right">Buscar</button></span>
                </div>
        </div>
</form>

        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let art of articulo">
                    <th>{{art.nombre}}</th>
                    <th>{{art.marca}}</th>
                    <td>{{art.precio}}</td>
                    <th>{{art.cantidad}}</th>
                    <td>{{art.descripcion}}</td>
                    <th>{{art.tipo}}</th>
                    <td>
                        <a id="viewProducto" [routerLink]="['/articulo', art.id]" class="btn btn-info" *ngIf="art.tipo == 'producto'">Ver Producto</a>
                        <a id="viewServicio" [routerLink]="['/servicio', art.id]" class="btn btn-info" *ngIf="art.tipo == 'servicio'">Ver Servicio</a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</div>

